server:
  port: 0

spring:
  application:
    name: courier-api

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/courier_raikiri
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: validate
    database: postgresql
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    out-of-order: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8081/eureka